# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
#.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Guides
/R/guides/

# Large data files and data we cannot share yet but not clean data for analysis
data/*
!data/clean/
data/clean/ctd_trawl_joined.csv

# Old text docs
/text

# Old scripts
*scrap

# Large model output files
output/

# Folders
meetings/
conferences/

# Extra figures
figures/supp/cpue_oxygen_rasters/
figures/supp/cpue_sal_rasters/
figures/supp/cpue_temp_rasters/
figures/supp/stomach_oxygen_rasters/
figures/supp/stomach_temp_rasters/

# html files
R/analysis/cod_flounder_diets.html
R/analysis/density_spatial_trend_models.html

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

*_files/
/files/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

.DS_Store
